<footer>
    <div class="footer-container">
       
        <div class="footer-column">
            <h4>Sony Fashion</h4>
            <p class="slogan">L'élégance afro-moderne au quotidien.</p>
        </div>

        
        <div class="footer-column">
            <h4>Localisation</h4>
            <p>Akwa, rue soudanaise</p>
            <p>Douala, Cameroun</p>
        </div>

    
        <div class="footer-column">
            <h4>Contact</h4>
            <p>(+237) 686 186 662</p>
            <p>sonyfashion@gmail.com</p>
        </div>
    </div>

    
    <div class="footer-bottom">
        <p>&copy; 2026 Sony Fashion. Tous droits réservés.</p>
    </div>
</footer>
v