header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    height: 70px;
    background: #cc79ab;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    position: sticky;
    top: 0;
    z-index: 99;
    box-sizing: border-box;
}



.logo {
    display: flex;
    align-items: center;
    height: 100%;
    color: #fff;
}

.logo img {
    height: 70px;
    width: auto;
    display: block;
    object-fit: contain;
}

.menu ul {
    display: flex;
    list-style: none;
    gap: 35px;
    margin: 0;
    padding: 0;
}

.menu ul li a {
    text-decoration: none;
    color: #151d5f;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: color 0.3s;
}

.menu ul li a:hover {
    color: #fff;
}


.menu-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 4px;
}

.menu-toggle span {
    display: block;
    width: 24px;
    height: 2px;
    background: #fff;
    border-radius: 2px;
    transition: 0.3s;
}

@media (max-width: 1024px) {
    header {
        padding: 0 24px;
    }

    .menu ul {
        gap: 20px;
    }

    .menu ul li a {
        font-size: 13px;
    }
}


@media (max-width: 768px) {
    header {
        padding: 0 16px;
        height: 60px;
        flex-wrap: nowrap;
        position: sticky;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menu-toggle {
        display: flex;
        order: 3;
    }

    .favorites{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 16px;
    }


    .menu {
        position: fixed;    
        top: 60px;             
        left: 0;
        width: 100%;
        background: #d4248b;
        z-index: 98;

        /* Caché par défaut */
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
    }
    .menu.open {
        max-height: 300px;
    }

    .menu ul {
        flex-direction: column;
        gap: 0;
        width: 100%;
        padding: 10px 0;
        align-items: center;
    }

    .menu ul li {
        width: 100%;
        text-align: center;
    }

    .menu ul li a {
        display: block;
        padding: 14px 0;
        font-size: 15px;
        border-bottom: 1px solid rgba(255,255,255,0.15);
    }

    .menu ul li:last-child a {
        border-bottom: none;
    }

    

}