<div class="modal-product-view-overlay"></div> 
  
<div class="modal-product-view-container"> 
  
  <div class="modal-product-view-image"> 
    <img 
      [src]="product()?.imageUrl" 
      [alt]="product()?.name" 
    > 
  </div> 
  
    <div class="modal-product-view-details"> 
        <h2>{{ product()?.name }}</h2> 
        <p>{{ product()?.description }}</p> 
        
        <!-- 🌟 AJOUT : Un conteneur pour aligner les deux prix -->
        <div class="modal-prices">
            <h4 class="sold">{{ product()?.soldPrice }} FCFA</h4> 
            <h4 class="regular"> 
                {{ product()?.regularPrice }} FCFA 
            </h4> 
        </div>

        <p>
            Créé le {{ product()?.createAt | date:'dd/MM/yyyy' }} 
        </p> 
    </div> 
    <button class="btn btn-favorite" (click)="onAddToFavorites()"> 
      ❤ Ajouter aux favoris 
    </button>  

    <button class="btn btn-close" (click)="onCloseClick()"> 
        Fermer 
    </button> 
</div>
